@mixin verticalHorizontalCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin inlineBlock {
  display: inline-block;
}

@mixin transitionThreeSeconds {
  transition: all ease-in 0.3s;
}

@mixin boxShadow {
  box-shadow: 0 4px 6px 0 rgba($color-grey-dark, 1);
}
