.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 10rem;
  z-index: 2;
  background: $color-secondary;
  &__logo {
    height: 4rem;
    @include verticalHorizontalCenter();
  }
  &__logo-container {
    width: 30%;
    height: inherit;
    position: relative;
    @include inlineBlock();
  }
}
