.navmenu {
  width: 70%;
  height: 10rem;
  @include inlineBlock();
  position: relative;
  .navmenu__list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10rem;
    .navmenu__list-item {
      @include inlineBlock();
      margin: 0 1.5rem;
      font-size: 1.5rem;
      color: $color-primary;
      list-style: none;
      list-style-type: none;
      letter-spacing: 0.8px;
      &--active {
        color: $color-tertiary;
        opacity: 1;
        border-bottom: 1px solid $color-tertiary;
        padding-bottom: 0.5rem;
      }
    }
  }
}
