.button {
  cursor: pointer;
  border: none;
  margin: 0;
  width: auto;
  background: $color-grey-lighter;
  padding: 1rem 2rem;
  backface-visibility: hidden;
  display: inline-block;
  @include boxShadow();
  @include transitionThreeSeconds();

  &:active {
    transform: translateY(0.1rem);
    box-shadow: 0 2px 6px 0 rgba($color-grey-dark, 0.1);
  }
}
